@import (reference) "@nova-ui/bits/sdk/less/nui-framework-variables";
@hidden-filters-block-height: 30px;

.filter-groups-wrapper {
    &__hidden-filters {
        line-height: @nui-line-height-small;
        font-size: @nui-font-size-small;
        background: @nui-color-bg-light-hover;
        height: @hidden-filters-block-height;
        padding-left: @nui-space-sm;
        color: @nui-color-text-secondary;
        margin-top: @nui-space-sm;
    }
    &__popover-hidden-filters {
        color: @nui-color-text-secondary;
        line-height: @nui-line-height-small;
        font-size: @nui-font-size-small;
    }
}

