div {
    display: inline-block;
    width: 50px;
    margin: 0 20px 20px 0;
    position: relative;
    vertical-align: top;
}

.button-example,
.textbox-example {
    width: auto;
}

.button-example {
    margin: 0 20px 20px 0;
}

.textbox-example {
    vertical-align: top;
}

.nui-badge-counter-custom:after {
    background: #0c5593;
    border-radius: 0;
    color: yellow;
}

.nui-badge-empty-custom:after {
    background: #6b6ecf;
    border-radius: 0;
    transform: rotate(45deg) !important;
}
