.drag-drop-item {
    border: 1px solid grey;
    text-align: center;
}
.demo-drag-over-class {
    border-color: #30b230;
    background-color: #e7f4df;
}
.demo-invalid-drag-over-class {
    border-color: #d50000;
    background-color: #ffe4e0;
}
.demo-drop-indicator-class {
    border-color: #3caadd;
    background-color: #a0cede;
}
