@import (reference) "nui-framework-variables";

.main-overlay-panel {
    padding: @nui-space-sm;
    background: @nui-color-bg-content;

    .overlay-footer {
        display: flex;
        justify-content: flex-end;
        padding: @nui-space-sm;
        button {
            margin-left: 15px;
        }
    }
}

.busy-content {
    border: 1px @nui-color-line-default solid;
    padding: @nui-space-sm;
}

.inline-flex {
    display: inline-flex;
}

