@import (reference) "nui-framework-variables";
@import (reference)
    "../../../../../../src/styles/components/combobox-v2-addons.less";

:host {
    nui-chip {
        display: inline-flex;
        cursor: pointer;
        margin-bottom: 5px;
        border-radius: 9px;
    }

    .active {
        .active-item();
    }
}
