<h1 i18n>Enter credentials</h1>
<div class="container">
    <form class="mb-5" (ngSubmit)="login()" novalidate>
        <div class="row justify-content-md-center">
            <div class="col-4">
                <nui-message *ngIf="showAuthenticationError" i18n type="critical">Invalid username or password!</nui-message>

                <nui-form-field caption="Login" i18n-caption>
                    <nui-textbox name="username" [value]="username" (textChange)="username = $event" class="rd-login__username"></nui-textbox>
                </nui-form-field>

                <nui-form-field caption="Password" i18n-caption>
                    <nui-textbox name="password" type="password" [value]="password" (textChange)="password = $event" class="rd-login__password"></nui-textbox>
                </nui-form-field>

                <div class="d-flex">
                    <div class="ml-auto">
                        <button type="submit" nui-button displayStyle="primary" class="rd-login__submit" i18n>Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
