@import (reference) url("mixins.less");

.arrow-example {
    @button-width: 180px;
    @button-height: 50px;

    .toggle-button {
        height: @button-height;
        width: @button-width;
    }

    .dnd-button {
        width: @button-width;
        height: @button-height;
        .setCssVariable(background-color, nui-color-bg-content);
    }

    .select {
        width: 200px;
        margin: 15px;
    }
}

.custom-overlay-panel-class {
    width: 300px;
}
