<div class="rd-table__container" id="rd-user-roles-table">
    <table nui-table
            [dataSource]="dataSource"
            [resizable]="true"
            [reorderable]="true">
        <ng-container nuiColumnDef="position" [columnWidth]="50">
            <th nui-header-cell *nuiHeaderCellDef i18n>No.</th>
            <td nui-cell *nuiCellDef="let element">{{element.position}}</td>
        </ng-container>

        <ng-container nuiColumnDef="name">
            <th nui-header-cell *nuiHeaderCellDef i18n>Name</th>
            <td nui-cell *nuiCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container nuiColumnDef="location">
            <th nui-header-cell *nuiHeaderCellDef i18n>Location</th>
            <td nui-cell *nuiCellDef="let element">{{element.location}}</td>
        </ng-container>

        <ng-container nuiColumnDef="role-basic">
            <th nui-header-cell *nuiHeaderCellDef alignment="center" i18n>Basic</th>
            <td nui-cell *nuiCellDef="let element" alignment="center">
                <ng-container>
                    <nui-icon [icon]="element.roles.includes('basic') ? 'status_up' : 'status_disabled'"></nui-icon>
                </ng-container>
            </td>
        </ng-container>

        <ng-container nuiColumnDef="role-admin">
            <th nui-header-cell *nuiHeaderCellDef alignment="center" i18n>Admin</th>
            <td nui-cell *nuiCellDef="let element" alignment="center">
                <ng-container>
                    <nui-icon [icon]="element.roles.includes('admin') ? 'status_up' : 'status_disabled'"></nui-icon>
                </ng-container>
            </td>
        </ng-container>

        <ng-container nuiColumnDef="role-superhero">
            <th nui-header-cell *nuiHeaderCellDef alignment="center" i18n>Superhero</th>
            <td nui-cell *nuiCellDef="let element" alignment="center">
                <ng-container>
                    <nui-icon [icon]="element.roles.includes('superhero') ? 'status_up' : 'status_disabled'"></nui-icon>
                </ng-container>
            </td>
        </ng-container>

        <tr nui-header-row *nuiHeaderRowDef="displayedColumns;"></tr>
        <tr nui-row *nuiRowDef="let row; columns: displayedColumns" [rowObject]="row"></tr>
    </table>
</div>
