version: 2
jobs:
    bits-build:
        working_directory: ~/nova
        docker:
            -   image: circleci/node:12-browsers
        steps:
            -   checkout:
                    path: ~/nova
            -   run:
                    command: pwd; ls
            -   run:
                    working_directory: ~/nova/packages/bits
                    command: pwd; ls
            -   run:
                    working_directory: ~/nova/packages/bits
                    name: Install dependencies
                    command: yarn install
            #            -   run:
            #                    working_directory: ~/nova/packages/bits
            #                    name: Assemble
            #                    command: yarn run assemble
            -   persist_to_workspace:
                    root: .
                    paths:
                        - .
    bits-unit-test:
        working_directory: ~/nova/packages/bits
        docker:
            -   image: circleci/node:12-browsers
        steps:
            -   attach_workspace:
                    at: ~/nova
            -   run:
                    command: pwd; ls
            -   run:
                    name: Unit tests
                    command: yarn run test
    bits-e2e-test:
        working_directory: ~/nova
        machine:
            image: ubuntu-2004:202010-01
        environment:
            PROJECT_DIR: $CIRCLE_WORKING_DIRECTORY/packages/bits
        steps:
            -   attach_workspace:
                    at: ~/nova
            -   run:
                    command: pwd; ls
            -   run:
                    name: Start Selenium docker image
                    command: docker-compose up -d --build selenium
            -   run:
                    name: E2E tests
                    command: docker-compose run --user="$UID" build npm run e2e:ci --prefix ./packages/bits
            -   run:
                    name: Extract Selenium logs
                    command: docker-compose logs -t --no-color web selenium > logs/docker-compose-e2e.log
            -   run:
                    name: Cleanup
                    command: docker-compose down -v --rmi="all"

    bits-publish:
        working_directory: ~/nova/packages/bits
        docker:
            -   image: circleci/node:12-browsers
        steps:
            -   run:
                    name: Create bits package
                    command: npm pack ./dist

workflows:
    version: 2
    bits:
        jobs:
            - bits-build
            #            -   bits-unit-test:
            #                    requires:
            #                        - bits-build
            -   bits-e2e-test:
                    requires:
                        - bits-build
#            -   bits-publish:
#                    requires:
#                        - bits-unit-test
#                        - bits-e2e-test
