
.nui-example-image-item {
    border: 1px lightgrey solid;
    margin-right: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.margin-auto {
    margin: auto;
}