@import (reference) "nui-framework-variables";

.filter-panel__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label {
        text-transform: uppercase;
        font-weight: @nui-font-weight-semibold;
    }
}

.nui-chips-overflowed__counter {
    margin-left: 3px;
    display: inline-flex;
}
