@import (reference) "@nova-ui/bits/sdk/less/nui-framework-colors";

@nui-chart-stacked-series1: #5c938b;
@nui-chart-stacked-series2: #37776e;
@nui-chart-stacked-series3: #206259;
@nui-chart-stacked-series4: #0d4941;
@nui-chart-stacked-series5: #0096e9;
@nui-chart-stacked-series6: #116b98;
@nui-chart-stacked-series7: #c197e4;
@nui-chart-stacked-series8: #9855d3;
@nui-chart-stacked-series9: #6b458c;
@nui-chart-stacked-series10: #adadad;

@nui-chart-cs1-1: #0096e9;
@nui-chart-cs1-2: @nui-chart-two;
@nui-chart-cs1-3: @nui-chart-three;
@nui-chart-cs1-4: @nui-chart-four;
@nui-chart-cs1-5: @nui-chart-five;
@nui-chart-cs1-6: @nui-chart-six;
@nui-chart-cs1-7: @nui-chart-seven;
@nui-chart-cs1-8: @nui-chart-eight;
@nui-chart-cs1-9: @nui-chart-nine;
@nui-chart-cs1-10: @nui-chart-ten;
@nui-chart-cs1-11: @nui-chart-one-light;
@nui-chart-cs1-12: @nui-chart-two-light;
@nui-chart-cs1-13: @nui-chart-three-light;
@nui-chart-cs1-14: @nui-chart-four-light;
@nui-chart-cs1-15: @nui-chart-five-light;
@nui-chart-cs1-16: @nui-chart-six-light;
@nui-chart-cs1-17: @nui-chart-seven-light;
@nui-chart-cs1-18: @nui-chart-eight-light;

@nui-chart-cs2-1: @nui-chart-one;
@nui-chart-cs2-2: @nui-chart-one-light;
@nui-chart-cs2-3: @nui-chart-two;
@nui-chart-cs2-4: @nui-chart-two-light;
@nui-chart-cs2-5: @nui-chart-three;
@nui-chart-cs2-6: @nui-chart-three-light;
@nui-chart-cs2-7: @nui-chart-four;
@nui-chart-cs2-8: @nui-chart-four-light;
@nui-chart-cs2-9: @nui-chart-five;
@nui-chart-cs2-10: @nui-chart-five-light;
@nui-chart-cs2-11: @nui-chart-six;
@nui-chart-cs2-12: @nui-chart-six-light;
@nui-chart-cs2-13: @nui-chart-seven;
@nui-chart-cs2-14: @nui-chart-seven-light;
@nui-chart-cs2-15: @nui-chart-eight;
@nui-chart-cs2-16: @nui-chart-eight-light;
@nui-chart-cs2-17: @nui-chart-nine;
@nui-chart-cs2-18: @nui-chart-nine-light;
@nui-chart-cs2-19: @nui-chart-ten;
@nui-chart-cs2-20: @nui-chart-ten-light;

@nui-chart-cs3-1: @nui-chart-one-light;
@nui-chart-cs3-2: @nui-chart-one;
@nui-chart-cs3-3: @nui-chart-one-dark;
@nui-chart-cs3-4: @nui-chart-two-light;
@nui-chart-cs3-5: @nui-chart-two;
@nui-chart-cs3-6: @nui-chart-two-dark;
@nui-chart-cs3-7: @nui-chart-three-light;
@nui-chart-cs3-8: @nui-chart-three;
@nui-chart-cs3-9: @nui-chart-three-dark;
@nui-chart-cs3-10: @nui-chart-four-light;
@nui-chart-cs3-11: @nui-chart-four;
@nui-chart-cs3-12: @nui-chart-four-dark;
@nui-chart-cs3-13: @nui-chart-five-light;
@nui-chart-cs3-14: @nui-chart-five;
@nui-chart-cs3-15: @nui-chart-five-dark;
@nui-chart-cs3-16: @nui-chart-six-light;
@nui-chart-cs3-17: @nui-chart-six;
@nui-chart-cs3-18: @nui-chart-six-dark;
@nui-chart-cs3-19: @nui-chart-seven-light;
@nui-chart-cs3-20: @nui-chart-seven;
@nui-chart-cs3-21: @nui-chart-seven-dark;
@nui-chart-cs3-22: @nui-chart-eight-light;
@nui-chart-cs3-23: @nui-chart-eight;
@nui-chart-cs3-24: @nui-chart-eight-dark;
@nui-chart-cs3-25: @nui-chart-nine-light;
@nui-chart-cs3-26: @nui-chart-nine;
@nui-chart-cs3-27: @nui-chart-nine-dark;
@nui-chart-cs3-28: @nui-chart-ten-light;
@nui-chart-cs3-29: @nui-chart-ten;
@nui-chart-cs3-30: @nui-chart-ten-dark;
