@import (reference) "@nova-ui/bits/sdk/less/nui-framework-variables";<%
if (pagingMode === "virtualScroll" || dataSource === "serverSide") {%>
@import (reference) "@nova-ui/bits/sdk/less/nui-framework-variables";
@import (reference) "@nova-ui/bits/sdk/less/mixins";<% } %>

.icon-margin {
    margin-right: @nui-space-xs;
}

.<%=selector%>__container {<%
    if (pagingMode === "virtualScroll") {%>
    height: 400px;
    border-color: lightgray;<% } %>
    overflow: auto;
}
<% if (enableSearch) { %>
.<%=selector%>-searchable__search {
    max-width: 350px;
    margin-bottom: @nui-space-xs;
    margin-left: auto;
}
<% }
if (pagingMode === "virtualScroll") {%>
.<%=selector%>-scrolling-container {
    height: 300px;
}
<% }
if (pagingMode === "virtualScroll" || dataSource === "serverSide") {%>
.<%=selector%>-scrolling-footer {
    height: 28px;<%
    if (pagingMode === "virtualScroll") {%>
    .setCssVariable(background-color, nui-color-bg-transparent);
    .setCssVariable(color, nui-color-text-secondary);<% } %>
}<% } %>
