.popover-examples {
    &__item-body {
        margin-top: 15px;
    }
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 15px 15px 15px 0;
        &-item {
            margin-right: 80px;
        }
    }
}
