@import (reference) "nui-framework-variables";

:host {
    .app-virtual-scroll-list-repeat {
        margin: @nui-space-sm @nui-space-md;
        width: 100%;
        // it is very important to have a height for virtual scroll
        height: 300px;
    }
}
