@import (reference) "@nova-ui/bits/sdk/less/nui-framework-variables.less";

:host {
    height: 100%;
    width: 100%;

    svg {
        g {
            width: 100%;
        }
        width: 100%;
        .everything {
            width: 100%;
            fill: @nui-color-semantic-unknown-bg;
        }
        .filled {
            fill: @chart-blue;
        }
        .error-marker, .warning-marker {
            fill: @nui-color-semantic-unknown-bg;
        }
        .error {
            .filled {
                fill: @critical_red;
            }
            .error-marker, .warning-marker{
                fill: @critical_red;
            }
        }
        .warning {
            .filled {
                fill: @warning_yellow;
            }
            .warning-marker{
                fill: @warning_yellow;
            }
        }
        .markers {
            stroke-width: @nui-line-medium;
            stroke: @white;
        }
    }

}
