@import "@nova-ui/bits/sdk/less/nui-framework-variables";

.demo__chart {
    height: 250px;
    width: 250px;
}

.demo__content-label {
    line-height: @nui-line-height-small;
    font-size: @nui-font-size-small;
    font-weight: @nui-font-weight-regular;
    text-transform: uppercase;
    color: var(--nui-color-text-secondary);
}
