@import (reference) "../src/nui-charts";

.projected-value,
.projected-unit-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projected-value {
    font-weight: @nui-font-weight-semibold;
    margin-bottom: -@nui-legend-series-content-margin;
}

.projected-unit-label {
    font-size: @nui-font-size-small;
    margin-top: -@nui-legend-series-content-margin;
}
