* {
    scrollbar-width: thin;
    scrollbar-color: rgba(17, 17, 17, 0.2) transparent;
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-thumb {
    border: 5px solid;
    border-radius: 7.5px;
    background-clip: content-box;
    border-color: transparent;
    background-color: rgba(17, 17, 17, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(17, 17, 17, 0.3);
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}