<ng-template #listRepeatQuestionTemplate let-item="item">
    <div class="container">
        <div class="rd-question-list-item">
            <div class="row align-items-center">
                <div class="col-auto text-center">
                    <nui-icon [icon]="item.acceptedAnswerPostId ? 'status_up' : 'status_unknown'"
                              class="rd-question-list-item__accepted-answer-icon"></nui-icon>
                </div>
                <div class="col">
                    <div>
                        <a class="rd-question-list-item__detail-link" [routerLink]="['/question', item._id]">
                            <strong>{{item.title}}</strong>
                        </a>
                    </div>
                    <div class="nui-text-small" i18n>
                        Asked
                        <span [title]="item.questionPost.creationDate | date:'long'"
                              class="rd-question-list-item__creation-date">
                            {{item.questionPost.creationDate | fromNow}}
                        </span>
                        by:
                        <strong class="rd-question-list-item__author">{{item.questionPost.author}}</strong>
                    </div>
                </div>
                <div class="col-auto d-inline-flex">
                    <div class="d-inline-flex align-items-center" i18n-title title="Number of answers">
                        <nui-icon icon="blog02"></nui-icon>
                        &nbsp;
                        <strong class="rd-question-list-item__answer-count">{{item.answerPosts.length}}</strong>
                    </div>
                    <div class="d-inline-flex align-items-center ml-3" i18n-title title="Number of votes">
                        <nui-icon icon="ncm-config-change-template"></nui-icon>
                        &nbsp;
                        <strong class="rd-question-list-item__vote-count">{{item.questionPost.votes}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #emptyListTemplate>
    <nui-empty></nui-empty>
</ng-template>

<div class="rd-question-list__list">
    <div class="mb-3" [hidden]="!hasItems()">
        <nui-sorter [itemsSource]="sorter.items" [selectedItem]="sorter.items[0]"
                    [sortDirection]="sorter.sortDirection" (sorterAction)="onValueChange()"
                    #sorterRef>
        </nui-sorter>
    </div>

    <div *ngIf="hasItems(); else emptyListTemplate">
        <nui-repeat [itemsSource]="state.repeat.itemsSource" [repeatItemTemplateRef]="listRepeatQuestionTemplate"
                    paddingSize="normal"
                    #filteringRepeat>
        </nui-repeat>
    </div>

    <div class="mt-3" [hidden]="!hasItems()">
        <nui-paginator [page]="page" [pageSize]="5" [total]="state.paginator.total" (pagerAction)="changePagination()"
                       #filteringPaginator>
        </nui-paginator>
    </div>
</div>
