@import (reference) "../nui-framework-variables.less";

@roboto-font: "Roboto";

.font-roboto(
    @regular-woff-file-path: "../../../bundles/css/Roboto-Regular";
    @bold-woff-file-path: "../../../bundles/css/Roboto-Bold";
    ) {
    @font-face {
        font-family: @roboto-font;
        src: url("@{regular-woff-file-path}.woff") format("woff"),
            url("@{regular-woff-file-path}.woff2") format("woff2");
        font-weight: @nui-font-weight-regular;
        font-style: normal;
    }

    @font-face {
        font-family: @roboto-font;
        src: url("@{bold-woff-file-path}.woff") format("woff"),
            url("@{bold-woff-file-path}.woff2") format("woff2");
        font-weight: @nui-font-weight-bold;
        font-style: normal;
    }
}
