.listitem--selected(
    @background-color: @nui-color-selected,
    @background-color-hvr: @nui-color-selected-hover,
    @color: @nui-color-text-default,
    @font-weight: @nui-font-weight-semibold
) {
    background-color: @background-color;
    color: @color;
    font-weight: @font-weight;

    &.nui-listitem--clickable {
        &:hover {
            background-color: @background-color-hvr;
        }
    }
}
