@import (reference) "nui-framework-variables.less";
@nui-font-family: "Open Sans";

/* FONTS */

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
        url("../fonts/opensans-light-webfont.woff") format("woff"),
        url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
    font-weight: @nui-font-weight-light;
    font-style: normal;
}

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-lightitalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-lightitalic-webfont.woff") format("woff"),
        url("../fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic")
            format("svg");
    font-weight: @nui-font-weight-light;
    font-style: italic;
}

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
        url("../fonts/opensans-regular-webfont.woff") format("woff"),
        url("../fonts/opensans-regular-webfont.svg#open_sansregular")
            format("svg");
    font-weight: @nui-font-weight-regular;
    font-style: normal;
}

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-italic-webfont.woff") format("woff"),
        url("../fonts/opensans-italic-webfont.svg#open_sansitalic")
            format("svg");
    font-weight: @nui-font-weight-regular;
    font-style: italic;
}

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-semibold-webfont.woff") format("woff"),
        url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold")
            format("svg");
    font-weight: @nui-font-weight-semibold;
    font-style: normal;
}

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-semibolditalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-semibolditalic-webfont.woff") format("woff"),
        url("../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic")
            format("svg");
    font-weight: @nui-font-weight-semibold;
    font-style: italic;
}

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-bolditalic-webfont.woff") format("woff"),
        url("../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic")
            format("svg");
    font-weight: @nui-font-weight-bold;
    font-style: italic;
}

@font-face {
    font-family: @nui-font-family;
    src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-bold-webfont.woff") format("woff"),
        url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
    font-weight: @nui-font-weight-bold;
    font-style: normal;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-Regular.ttf.woff2") format("woff2"),
        url("../fonts/SourceCodePro-Regular.ttf.woff") format("woff");
    font-weight: @nui-font-weight-regular;
    font-style: normal;
}
