@import (reference) "nui-framework-colors.less";

@nui-shadow-default: 0 0 5px 0 @nui-shadow-color;
@nui-shadow-default: 0 0 5px 0 var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-stronger: 0 0 5px 0 @nui-shadow-color-stronger;
@nui-shadow-stronger: 0 0 5px 0
    var(--nui-shadow-color-stronger, @nui-shadow-color-stronger);

@nui-shadow-elevated: 0 2px 10px 0 @nui-shadow-color;
@nui-shadow-elevated: 0 2px 10px 0 var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-inner: inset 0 1px 3px 0 @nui-shadow-color;
@nui-shadow-inner: inset 0 1px 3px 0 var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-inner-top: inset 0px 6px 5px -5px @nui-shadow-color;
@nui-shadow-inner-top: inset 0px 6px 5px -5px var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-inner-top-bottom: inset 0 6px 5px -5px @nui-shadow-color,
    inset 0 -6px 5px -5px @nui-shadow-color;
@nui-shadow-inner-top-bottom: inset 0 6px 5px -5px var(--nui-shadow-color, @nui-shadow-color),
    inset 0 -6px 5px -5px var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-inner-bottom: inset 0 -6px 5px -5px @nui-shadow-color;
@nui-shadow-inner-bottom: inset 0 -6px 5px -5px
    var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-inner-left: inset 6px 0px 5px -5px @nui-shadow-color;
@nui-shadow-inner-left: inset 6px 0px 5px -5px var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-inner-right: inset -6px 0px 5px -5px @nui-shadow-color;
@nui-shadow-inner-right: inset -6px 0px 5px -5px
    var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-inner-left-right: inset 6px 0px 5px -5px @nui-shadow-color,
    inset -6px 0px 5px -5px @nui-shadow-color;
@nui-shadow-inner-left-right: inset 6px 0px 5px -5px var(--nui-shadow-color, @nui-shadow-color),
    inset -6px 0px 5px -5px var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-top: 0 -6px 5px -5px @nui-shadow-color;
@nui-shadow-top: 0 -6px 5px -5px var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-bottom: 0 6px 5px -5px @nui-shadow-color;
@nui-shadow-bottom: 0 6px 5px -5px var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-left: -6px 0px 5px -5px @nui-shadow-color;
@nui-shadow-left: -6px 0px 5px -5px var(--nui-shadow-color, @nui-shadow-color);

@nui-shadow-right: 6px 0px 5px -5px @nui-shadow-color;
@nui-shadow-right: 6px 0px 5px -5px var(--nui-shadow-color, @nui-shadow-color);
