@import (reference) "./nui-framework-variables.less";
@import (reference) "./mixins.less";
@import (reference) "./nui-framework-typography.less";

// Legacy Headings
// -------------------------
.nui {
    h2,
    .h2 {
        .nui-text-page();
    }

    h3,
    .h3 {
        .nui-text-page();
        text-transform: none;
    }

    h4,
    .h4 {
        .nui-text-panel(@nui-color-text-default, nui-color-text-default);
    }

    h5,
    .h5 {
        font-size: @nui-font-size-default;
        font-weight: @nui-font-weight-regular;
        .setCssVariable(color, nui-color-text-secondary);
        text-transform: uppercase;
    }

    // FormField legacy margin bottom
    // We've made the selector more specific to override form-field component styles.
    // Without having this done we would never be able to override component styles from global styles level.
    nui-form-field .nui-form-field {
        margin-bottom: @nui-space-sm;
    }

    [nuiScrollShadows] {
        .scroll-shadow();
    }
}
