<nui-sheet class="mt-5">
    <nui-card>
            <div class="rd-app__page-header nui-flex-container">
                <div class="nui-flex-item-grow">
                    <span class="nui-text-page rd-app__page-title" (click)="goHome()" title="Back to Home page" i18n>Rubber Duck</span>
                </div>
                <div class="nui-flex-item-grow pl-4">
                    <nui-search class="rd-app__search" (search)="onSearch($event)"></nui-search>
                </div>
                <rd-demo-wizard></rd-demo-wizard>
                <div class="rd-app__add-question">
                    <a nui-button type="button" routerLink="/question/ask" displayStyle="primary" i18n>Ask your question</a>
                </div>
                <div class="pl-4">
                    <a nui-button type="button" routerLink="/login" displayStyle="default" icon="user" *ngIf="!username"
                        class="rd-app__login-button" i18n>Login</a>
                    <button nui-button type="button" displayStyle="action" icon="enable" iconColor="red" *ngIf="username" (click)="logout()"
                            class="rd-app__logout-button" iconRight="true">{{username}}
                    </button>
                </div>
            </div>
            <router-outlet></router-outlet>
    </nui-card>
</nui-sheet>
