@import "@nova-ui/bits/sdk/less/nui-framework-variables";

.chart {
    width: 280px;
    height: 280px;
}

.content-label {
    line-height: 14px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--nui-color-text-secondary);
}
