@import (reference) "nui-framework-variables";
@import (reference)
    "../../../../../../src/styles/components/combobox-v2-addons.less";

.active {
    .active-item();
}

nui-chip {
    display: inline-flex;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 5px;
}
