.custom-footer {
    width: 100%;
    padding: 10px;
    border: 1px transparent dashed;
    color: white;
    display: flex;

    &.step_1 {
        border-color: orange;

        .btn-custom {
            margin-right: auto;
        }
    }

    &.step_2 {
        border-color: green;
    }

    span {
        color: black;
        line-height: 30px;
        margin-right: auto;
    }

    button {
        margin-left: 15px;
    }
}
