.custom-footer {
    width: 100%;
    padding: 10px;
    border: 5px transparent solid;
    color: white;

    &.step_1 {
        border-color: red;
        button {
            float: left;
        }
    }

    &.step_2 {
        border-color: green;
        button {
            float: right;
        }
    }

    button {
        min-width: 100px;
    }
}
